@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: none;
    border: none;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
::selection {
    color: rgb(255, 252, 252);
    background-color: #bea060;
}
header {
    width: 100%;
    height: 160vh;
    background-color: rgb(59, 30, 30);
    display: flex;
}
.header-left-side {
    padding: 0 0 0 90px;
    color: rgb(0, 0, 0);
}
.header-left-side h1 {
    color: #ffffff;
    line-height:1.2em;
    font-size: 78px;
    padding-top: 20px;
    margin-bottom: 20px;
    font-weight:  400 !important;
}
.header-left-side h2 {
    color: #60be77;
    font-family: "Open Sans", sans-serif;
    font-size: 26px;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 2px;
    padding: 10px;
}
.header-left-side p {
    margin-top: 5%;
    margin-bottom: 10%;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 2px;
    font-size: 16px;
    color: #c1bfbf;
    line-height: 2;
}
button {
    padding: 20px 10px;
    border: 2px solid #ce4bb8;
    background: transparent;
    width: 47%;
    color: white;
    margin-right: 15px;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
}
button:hover {
    background-color: #c41e63;
    color: rgb(8, 5, 5);
    border: 2px solid #30182e;
    transition: 0.7s;
}
.btn {
    width: 97%;
    background-color: #ce4bb8;
    border: 2px solid #cb2bbe;
}
.header-left-side h3 {
    color: #ffffff;
    padding-top: 80px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}
.header-right-side img {
    width: 670px;
    height: 884px;
    margin-top: 15%;
}
.electric-snow {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; 
    z-index: 1; 
}

.spark {
    position: absolute;
    background: #ff1eb4; 
    border-radius: 50%;
    box-shadow: 0 0 4px #da9601;
    animation: fall linear infinite;
}

@keyframes fall {
    from {
        opacity: 1;
    }
    to {
        transform: translateY(105vh); 
        opacity: 0;
    }
}